body{
  background-color: #f4f4f4;
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  font-family: 'Arial';
}

a{
  text-decoration: none;
}
.container{
  width: 700px;
  height: auto;
  margin-left: auto;
  margin-right: auto;  
  margin-top: 3%;
  background-color: white;
  border-radius: 10px;
  line-height: 2.4em;
}

.container div{
  margin-left: 7%;
  margin-right: 7%;
}

.header_img{
  height: 201px;
  background-image: url("../images/英特尔认证头图700.jpg");
  border-radius: 10px;
}

.p_text{
  font-size: 2.1em;
  margin-top: 5%;
}

.p_footer{
  font-size: 1.6em;
  margin-top: 12%;
  line-height: 1.5em;
  height: 5em;
}

.a_a{
  width: 200px;
  margin-top: 4%;
}

.btn-style-01{
  border-style:none;
  padding:7px 20px;
  line-height:25px;
  color:#fff;
  cursor:pointer;
  border:1px #2e5edb solid;
  -webkit-box-shadow:inset 0px 0px 1px #fff;
  -moz-box-shadow:inset 0px 0px 1px #fff;
  box-shadow:inset 0px 0px 1px #fff;/*内发光效果*/
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;/*边框圆角*/
  font-size: 2em;
  background-color:#2e5edb;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#2e5edb), to(#2454d3));
  background-image: -webkit-linear-gradient(top, #2e5edb 0%, #2454d3 100%);
  background-image: -moz-linear-gradient(top, #2e5edb 0%, #2454d3 100%);
  background-image: -ms-linear-gradient(top, #2e5edb 0%, #2454d3 100%);
  background-image: -o-linear-gradient(top, #2e5edb 0%, #2454d3 100%);
  background-image: linear-gradient(top, #2e5edb 0%, #2454d3 100%);/*颜色渐变效果*/
}
.btn-style-01:hover {
  background-color:#2454d3;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#2454d3), to(#2e5edb));
  background-image: -webkit-linear-gradient(top, #2454d3 0%, #2e5edb 100%);
  background-image: -moz-linear-gradient(top, #2454d3 0%, #2e5edb 100%);
  background-image: -ms-linear-gradient(top, #2454d3 0%, #2e5edb 100%);
  background-image: -o-linear-gradient(top, #2454d3 0%, #2e5edb 100%);
  background-image: linear-gradient(top, #2454d3 0%, #2e5edb 100%);
}

footer{
  width: 100%;
  text-align: center;
  margin-top: 1.5%;
}

footer p{
  text-align: center;
  color:#999999;
  font-size: 1.3em;
}

@media screen and (max-width: 700px) {

  .container{
    width:600px;
    height: auto;
  }
  
  .header_img{
    max-height: 180px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .p_text{
    font-size: 2em;
    margin-top: 7%;
  }
  
  .btn-style-01{
    font-size: 2em;
  }
  .p_footer{
    font-size: 1.4em;
  }

  footer p{
  font-size: 1.1em;
  }
}

@media screen and (max-width: 600px) {
    
    .header_img{
      max-height: 170px;
      background-image: url("../images/英特尔认证头图600.jpg") ;
      background-repeat: no-repeat;
    }
}


@media screen and (max-width: 500px) {

    .container{
      width:100%;
    }
    
    .header_img{
      max-height: 120px;
      background-image: url("../images/英特尔认证头图500.jpg") ;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .p_text{
      font-size: 1.8em;
    }
    
    .btn-style-01{
      font-size: 1.8em;
      padding:2px 12px;
    }
    .p_footer{
      font-size: 1.5em;
      line-height: 1.5em;
      margin-top: 14%;

    }

    footer p{
      font-size: 1.3em;
    }
}

@media screen and (max-width: 400px) {
    
    .header_img{
      max-height: 114px;
      background-image: url("../images/英特尔认证头图400.jpg") ;
      background-repeat: no-repeat;
      background-size: 100% 100%;


    }
}

@media screen and (max-width: 350px) {

    .header_img{
      max-height: 110px;
      background-image: url("../images/英特尔认证头图350.jpg") ;
      background-repeat: no-repeat;
      background-size: 100% 100%;


    }

  .p_text{
    font-size: 1.6em;
  }
  
  .btn-style-01{
    font-size: 1.6em;
  }
  .p_footer{
    font-size: 1.3em;
  }

  footer p{
  font-size: 1em;
  }

}